<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>Angular .::. Ex16</title>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
</head>
<body ng-app="myApp">

	<!-- Data from php mysql -->
	<div ng-controller="myCtrl">
		<table>
			<tr ng-repeat="x in names">
				<td>{{ x.Name }}</td>
				<td>{{ x.Country }}</td>
			</tr>
		</table>
	</div>

	<hr />

	<!-- Data from .Net sql -->
	<div ng-controller="myCtrl2">
		<table>
			<tr ng-repeat="x in names">
				<td>{{ x.Name }}</td>
				<td>{{ x.Country }}</td>
			</tr>
		</table>
	</div>

	<script type="text/javascript">

		var app = angular.module('myApp', []);

		app.controller('myCtrl', function ($scope, $http) {
			$http.get("http://www.w3schools.com/angular/customers_mysql.php").then(function (response) {
				$scope.names = response.data.records;
			});
		});

		app.controller('myCtrl2', function ($scope, $http) {
			$http.get("http://www.w3schools.com/angular/customers_sql.aspx").then(function (response) {
				$scope.names = response.data.records;
			});
		});

	</script>

</body>
</html>
